.basics__wrapper:not(:last-child) {
  margin-bottom: 30px;
}

.basics__img,
.basics__img {
  margin: 0;
  display: inline-block;
  font-size: 0;
  vertical-align: top;
  max-width: calc(100% - 490px - 30px);

}

.basics__img_top_left {
  margin-right: 25px;
}

.basics__content,
.basics__content {
  display: inline-block;
  vertical-align: top;
  max-width: 490px;
}

.basics__content_bottom_left {
  margin-right: 25px;
}