.navigation {
  border-radius: 10px;
  background: #F1F1F1;
  padding: 25px 0;
}

.navigation__title {
  padding-left: 15px;
  font-size: 44px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 20px;
}

.navigation__list {
  padding-left: 15px;
  counter-reset: list;
}

.navigation__item {
  color: #02535F;
}

.navigation__item::before {
  content: counter(list)".";
  counter-increment: list;
}

.navigation__link {
  border-bottom: 1px solid #000;
  padding-bottom: 0;
}

.navigation__item:not(:last-child) {
  margin-bottom: 10px;
}