.summary__title {
  margin-bottom: 20px;
}

.summary__list-item:not(:last-child) {
  margin-bottom: 10px;
}

.summary__list-item::before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 1px;
  background-color: #000;
  margin-right: 8px;
}

.summary__list {
  margin-bottom: 30px;
}